body {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("../videos/clear.mp4");
  background-size: 105%;
  color: white;
  overflow: hidden;
}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#home-page {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
}

#main-container {
  width: 100%;
  height: 90%;
}

#weather-display > div {
  margin: 0 10px;
}

section, .modal > .flex-container > div {
  height: 30%;
  margin: 5% auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 100%;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.button-container {
  margin: 0 10px;
}

.quote-button {
  position: fixed;
}

button.return-button-2 {
  position: relative;
  top: 250px;
}

.quotes {
  margin: 0 auto;
}

button {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  padding: 15px 0;
  width: 125px;
  border: white 1px solid;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 5px white;
  transform: scale(1.05);
}

input {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  color: gray;
  padding: 15px;
  border: none;
  border-radius: 10px;
}

label {
  margin: 0 0.75%;
}

.modal {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.warm-gradient {
  background: #f12711;
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  background: linear-gradient(to right, #f5af19, #f12711);
}

.cool-gradient {
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.warm-gradient-two {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.quote-text {
  font-size: 2rem;
  max-height: 30%;
  width: 90%;
}

.quote-author {
  font-size: 1.5rem;
}

#photo-modal > div {
  margin: 20px auto;
}

.carousel-item > img  {
  object-fit: cover;
  width: 30vw;
  height: 45vh;
}

#recenter:hover {
  cursor: pointer;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .carousel-item > img  {
  object-fit: cover;
  width: 50vw;
  }
}

@media only screen and (max-device-width: 900px) and (max-device-height: 450px) and (orientation: landscape) {
  #greetStatement {
    font-size: 2rem;
    margin: 0;
  }

  .fas{
    margin: 0 1px 0 35px;
  }

  #weather-display {
    line-height: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #location-bar > label {
    margin: 5% 1.5%;
    display: block;
  }

  button {
    padding: 4px 0;
    width: 125px;
    border: 1px white solid;
    border-radius: 7px;
  }

  input {
    padding: 0.8%;
    border: none;
    border-radius: 5px;
  }

  button.return-button-2 {
    position: relative;
    top: 100px;
  }

  .carousel-item > img  {
    object-fit: cover;
    width: 40vw;
    height: 50vh;
  }

  .modal > .flex-container > div {
    height: 100%;
  }

  .quote-text {
    font-size: 1rem;
    margin: 0;
  }

  .quote-author {
    font-size: 0.9rem;
    margin: 0 auto 5%;
  }

  .modal > .flex-container > div.quote-text {
    margin: 0 auto;
  }

  .modal > .flex-container > div.quote-author {
    margin: 5% auto;
  }
}

@media only screen and (max-device-width: 480px) and (max-device-height: 900px) and (orientation: portrait) {

  #greetStatement {
    font-size: 1.5rem;
  }
  #location-bar {
    flex-direction: column;
  }

  #location-bar > label {
    margin: 5% auto;
  }

  button {
    padding: 7px 0;
    width: 125px;
    border: 1px white solid;
    border-radius: 7px;
  }

  input {
    display: block;
    padding: 2%;
    border: none;
    border-radius: 5px;
  }

  button.return-button-2 {
    position: relative;
    top: 175px;
  }

  .quote-text {
    font-size: 1.2rem;
  }

  .quote-author {
    font-size: 1rem;
  }

  .carousel-item > img  {
    object-fit: cover;
    width: 60vw;
  }

  .modal > .flex-container > div {
    height: 100%;
    margin: 10% auto;
  }

  #location-button {
    margin-top: 10%;
  }
}
